.title {
  background-color: black;
  color: red;
  font-size: 40px;
  display: flex;
}
#vue {
	width: 200px;
	height: 200px;
	background-size: 100%;
	background-image: url('../imgs/vue.png');
}
#react {
	width: 200px;
	height: 200px;
	background-size: 100%;
	background-image: url('../imgs/react.png');
}