<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入Vue -->
    <script src="../js/vue.js">
    </script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <h1>学校信息</h1>
        <h2>学校名称：{{name}}</h2>
        <h2>学校地址：{{address}}</h2>
        <hr>
        <h1>学生信息</h1>
        <button @click='addSex'>点我给学生追加性别</button>
        <h2>姓名:{{student.name}}</h2>
        <h2 v-show='student.sex'>性别:{{student.sex}}</h2>
        <h2>年龄:真实:{{student.age.rAge}},对外:{{student.age.sAge}}</h2>
        <h2>朋友们</h2>
        <ul>
            <li v-for='(f, index) in student.friends' :key='index'>
                {{f.name}}-{{f.age}}
            </li>
        </ul>
        <h2>爱好</h2>
        <button @click = 'changeHobby'>点击修改爱好</button>
        <ul>
            <li v-for='(h, index) in student.hobby' :key='index'>
                {{h}}
            </li>
        </ul>
    </div>
    <script>
        // 设置为 false 以阻止 vue 在启动时生成生产提示。
        Vue.config.productionTip = false;
        let vm = new Vue({
            el: '#root',
            data: {
                name: '尚硅谷',
                address: '北京',
                student: {
                    name: 'tom',
                    age: {
                        rAge: 20,
                        sAge: 100,
                    },
                    hobby: ['doi', '喝酒', '篮球'],
                    friends: [
                        { name: 'hzk', age: 40 },
                        { name: 'hxl', age: 48 }
                    ]
                }
            },
            methods: {
                addSex() {
                    // Vue.set(this.student, 'sex', '男')
                    this.$set(this.student, 'sex', '男')
                },
                changeHobby() {
                    // this.student.hobby.splice(0,1,'打架');
                    this.$set(this.student.hobby,1,'放屁');//不常用
                }
            },

        })
    </script>
</body>

</html>